<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Start-Home</title>
    <link rel="stylesheet" href="front-page/style.css" />
  </head>
  <body>
    <div id="menu-bar">
      <img src="https://res.cloudinary.com/dh1ltpsm8/image/upload/v1713167791/ChatApp/1000020883-removebg-preview_l811o2.png" />
      <div id="login-button" class="button-21">
        <a href="/login">Login</a>
      </div>
    </div>
    <div class="top-wrapper">
      <div id="background">
        <img
          src="https://res.cloudinary.com/dh1ltpsm8/image/upload/v1713167817/ChatApp/vecteezy_global-network-on-earth-concept-3d-rendering-world-map_23387290_ktl6uv.jpg"
        />
      </div>
      <p id="text-wrap-1">
        Connecting you to what matters. <br />Communication made easy.
        Streamline your connections.
      </p>
    </div>
    <hr>
    <div class="wrapper-1">
      <p>
        At CONVERSA, we pride ourselves as the best chat service company. Try
        our website today.
      </p>
      <img src="https://res.cloudinary.com/dh1ltpsm8/image/upload/v1713167792/ChatApp/istockphoto-1311966784-612x612_oaxzt6.jpg" />
    </div>
    <hr />
    <div class="footer">
      <div class="about-us">
        <h1>About Us</h1>
        <br />
        <p>
          CONVERSA is more than just a chat website, it's a platform that
          fosters genuine connections between people from all walks of life. We
          believe in the power of conversation to bridge gaps, broaden
          perspectives, and forge lasting friendships.
        </p>
        <br />
        <h2>Our mission is to create a safe and inclusive space for:</h2>
        <br />
        <ul>
          <li>
            <h3>• Engaging Conversations:</h3>
            <p>
              Spark meaningful conversations with people who share your
              interests or challenge you with new ideas.
            </p>
          </li>
          <li>
            <h3>• Expanding your network:</h3>
            <p>
              Meet new people from all over the world and learn about their
              unique cultures and experiences.
            </p>
          </li>
          <li>
            <h3>• Building friendships:</h3>
            <p>
              Find friends who you can connect with on a deeper level and share
              your thoughts, feelings, and experiences.
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="credit">-created by Vividh, Tanishq & Swayam</div>
    <script src="front-page/script.js"></script>
  </body>
</html>
