<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>join-page</title>
    <link rel="stylesheet" href="room-page/room-page-style.css" />
  </head>
  <body>
    <div id="menu-bar">
      <div class="logo">
        <img
          src="https://res.cloudinary.com/dh1ltpsm8/image/upload/v1713167791/ChatApp/1000020883-removebg-preview_l811o2.png"
        />
      </div>
      <button type="submit">
        <a href="/logout">Logout </a>
      </button>
    </div>
    <div class="roomDiv">
      <form
        class="join-container"
        action="/roomJoin"
        method="post"
        id="roomForm"
      >
        <div class="heading">Join Room</div>
        <input
          id="roomInput"
          name="roomID"
          type="text"
          placeholder="Enter Room-ID"
          required
        />
        <input
          name="join_password"
          type="password"
          placeholder="Password"
          required
        />
        <button type="submit">Join</button>
      </form>

      <form
        class="join-container"
        action="/roomCreate"
        method="post"
        id="roomForm"
      >
        <div class="heading">Create Room</div>
        <input
          id="roomInput"
          name="roomName"
          type="text"
          placeholder="Room Name"
          required
        />
        <input
          name="password"
          type="password"
          placeholder="Set Password"
          required
        />
        <button type="submit">Create</button>
      </form>
    </div>
  </body>
</html>
