@font-face {
    font-family: xcompany;
    src: url("/Font/XCompany.ttf");
}

@font-face {
    font-family: metropolis;
    src: url("/Font/MetropolisPersonalUseRegular.ttf");
}

@font-face {
    font-family: queensides;
    src: url("/Font/Queensides.ttf");
}

@font-face {
    font-family: nugo-sans;
    src: url("/Font/NugoSansLight-9YzoK.ttf");
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background: rgba(18, 18, 18, 0.977);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#menu-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.781);
    position: fixed;
    width: 100%;
    height: 50px;
    border-radius: 5px;
}

#menu-bar:hover {
    box-shadow: 0 0 50px rgb(0, 123, 255);
}

#menu-bar .logo img {
    height: 50px;
    width: 150px;
    align-items: left;
}

#menu-bar .user {
    display: flex;
    flex-direction: row;
    align-self: center;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    border-width: 4px;
    padding-left: 8px;
    padding-right: 10px;
    background: rgb(255, 255, 255);
    height: 40px;
    width: fit-content;
}

#menu-bar .user p {
    margin-left: 5px;
    align-self: center;
}

#menu-bar select {
    border-style: none;

    background-color: transparent;

}

#menu-bar .user:hover {
    box-shadow: 0 0 20px aqua;
    backdrop-filter: drop-shadow(50px);
}

#menu-bar .user img {
    align-self: center;
    height: 30px;
    width: 30px;
}

#profile-pic {
    display: none;
}

.chat-section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin-bottom: 20px;
}

.chat-section .chatting-portion {
    margin-top: 50px;
    border-radius: 10px;
    background-image: url('https://res.cloudinary.com/dh1ltpsm8/image/upload/v1713167818/ChatApp/Chat-Page_uklt1s.jpg');
    background-size: contain;
    border-top-color: white;
    border-width: 2px;
    border-style: inset;
    height: 100vh;
    float: left;
}

.chat-section .chatting-portion .group-menu {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

.chat-section .chatting-portion .group-menu .room-id {
    display: flex;
    align-items: center;
    font-size: 30px;
    height: 40px;
    box-sizing: border-box;
    font-family: nugo-sans;
    color: white;
    font-weight: bold;
    width: 80%;
}

.room-name {
    margin: auto;
    width: fit-content;
}

.ROOMID {
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat-section .chatting-portion .group-menu .members .background-selector input {
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 2px;
    border-width: 2px;
    margin-right: 10px;
    border-color: white;
    text-align: center;
    border-style: hidden;
    color: white;
}

.chat-section .chatting-portion .group-menu .members .background-selector input::placeholder {
    text-align: center;
    color: white;
}

.BUTTON_DIV {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: calc(15% + 30px);
}

.chat-section .chatting-portion .group-menu button {
    height: 35px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgb(255, 0, 55);
    text-align: center;
    padding: 0px 1rem;
    color: white;
    cursor: pointer;
}

.chat-section .chatting-portion .below {
    display: flex;
    flex-direction: row;
    height: 94%;
}

.chat-section .chatting-portion .chat-area {
    display: flex;
    flex-direction: column;
    width: 85%;
}

#activity {
    padding: 10px !important;
}

.chat-section .chatting-portion .chat-area .chats {
    height: 100%;
}

.chat-section .chatting-portion .member-list {
    background-color: rgba(0, 0, 0, 0.831);
    color: white;
    text-align: center;
    font-family: sans-serif;
    width: 15%;
    height: 98.5%;
    font-weight: 200;
    font-size: small;
    border-left-width: 3px;
    border-left-style: solid;
    border: 1px solid white;
    border-right: none;
}

.chat-section .chatting-portion .member-list .members {
    scroll-behavior: smooth;
    font-size: large;
    overflow-y: scroll;
    scrollbar-color: white transparent;
    border-bottom-right-radius: 10px;
    background-blend-mode: color-burn;
}

.members ol li {
    padding-left: 30px;
    padding-bottom: 10px;
    align-self: center;
    text-align: left;
    font-size: 20px;
}

.chat-section .chatting-portion .member-list h2 {
    font-family: BlinkMacSystemFont;
    padding: 10px 20px;
}

.chat-section .chatting-portion .chat-area .chats {
    overflow: scroll;
    scrollbar-color: transparent transparent;
    padding: 5px 20px;
    box-shadow: inset -4px -4px 9px rgba(0, 0, 0, 0.5), inset 4px 4px 9px rgba(255, 255, 255, 0.5);
}

.chat-section .chatting-portion .chat-area .chats .sended-mssg {
    border-radius: 20px;
    border-bottom-right-radius: 0;
    height: fit-content;
    justify-content: end;
    width: fit-content;
    max-width: 400px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    margin: 10px 10px 10px auto;
    padding: 10px 10px;
    color: rgb(0, 0, 60);
    background-color: rgb(0, 132, 255);
}

.chat-section .chatting-portion .chat-area .chats .recieved-mssg {
    border-radius: 20px;
    border-bottom-left-radius: 0;
    height: fit-content;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 10px 0 10px;
    width: fit-content;
    padding: 10px 50px 10px 10px;
    margin: 10px 10px;
    color: rgb(0, 0, 60);
    background-color: rgb(255, 255, 255);
}

.chat-section .chatting-portion .send-message {
    height: 60px;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 10px;
    padding: 0 10px;
    position: sticky;
    bottom: 10px;
}

.send-message .background {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(0, 132, 255);
    height: 40px;
    width: 100%;
    border-radius: 100px;
}

.send-message .background input {
    background-color: hsl(0, 0%, 100%);
    border-radius: 100px;
    padding-right: 20px;
    color: rgb(3, 129, 182);
    border: 1px solid rgb(3, 129, 182);
    height: 40px;
    font-size: 18px;
    width: 90%;
    display: flex;
    flex-direction: row;
    padding-left: 30px;
}

.send-message .background input::placeholder {
    color: rgba(4, 41, 175, 0.725);
    font-family: arial narrow bold;
    font-weight: bold;
}

.send-message .background button {
    height: 40px;
    cursor: pointer;
    background-color: transparent;
    border-style: none;
    margin-right: 20px;
}

button img {
    height: 40px;
    width: 40px;
}

.credit {
    background-color: rgb(215, 215, 215);
    font-size: small;
    text-align: center;
    margin-top: 3.8%;
}